<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <h3>회원 가입</h3>
    <form onsubmit="submitSignup();return false;">
            이름 :<input type="text" id="userName">
                계정 아이디(중복 불가능) : 
                <input type="text" id="accountName">
                이메일 : 
                <input type="text" id="userEmail">
                비번 : 
                <input type="password" id="password">
            <button type="submit" value="회원가입" id="signupButton">회원가입</button>
    </form>
    <script type="text/javascript" src="/javascripts/signup.js"></script>
</body>

</html>